@mixin straight-text {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

@mixin curvy-text {
  font-family: 'SignPainter', cursive;
  text-decoration: none;
}

@mixin flex-preset {
  display: flex;
  justify-content: center;
  text-align: center;
}
