@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');
@import url('https://fonts.cdnfonts.com/css/signpainter');
@import 'kit/variables';
@import 'kit/mixins';

@media screen {
  .print-only {
    display: none;
  }
}

@keyframes logo {
  from {
    transform: rotateY(0) scale(0.75);
  }
  to {
    transform: rotateY(180deg) scale(1);
  }
}

@media only screen and (max-width: 767px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .desktop__element {
      display: none;
    }
  }

  li,
  a {
    @include straight-text();
    font-weight: 400;
    font-size: 30px;
    color: white;
  }

  header {
    background-color: $--Orange;
    background-image: url('/src/assets/WhiteFlowerLeft.png'), url('/src/assets/WhiteFlowerRight.png');
    background-repeat: no-repeat;
    background-position:
      left 40%,
      right 80%;
    .nav {
      padding: 5%;
      padding-top: 35px;

      nav {
        @include flex-preset();
        flex-direction: row;
        justify-content: space-between;
      }
      .nav__top {
        list-style: none;
        justify-self: center;
        order: 2;
        padding-top: 10%;
      }
      .text-logo {
        @include straight-text();
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 0.1em;
        width: 35px;
        color: white;
        cursor: pointer;
        order: 1;
      }

      //Responsible for the visual look of the burger
      #menu-button,
      #menu-button::before,
      #menu-button::after {
        display: block;
        order: 3;
        margin-top: 10px;
        background-color: white;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }

      //Responsible for the margins between the three lines of the burger
      #menu-button::before {
        content: '';
        margin-top: -8px;
      }
      #menu-button::after {
        content: '';
        margin-top: 12px;
      }

      //Responsible for animation of the burger
      #menu-toggle:checked + #menu-button::before {
        margin-top: 0px;
        transform: rotate(135deg);
      }
      #menu-toggle:checked + #menu-button {
        background: rgba(255, 255, 255, 0);
      }
      #menu-toggle:checked + #menu-button::after {
        margin-top: -4px;
        transform: rotate(-135deg);
      }

      //The Checkbox
      #menu-toggle {
        opacity: 0;
        cursor: pointer;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 5%;
        right: 4.5%;
      }

      .nav__top {
        transition: transform 0.3s;
        order: 2;
      }

      //The List-Items
      #menu-toggle:not(:checked) ~ .nav__top li {
        height: 0px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        opacity: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .nav__top li {
        display: block;
        height: 2.5em;
        padding: 0.5em;
        opacity: 1;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .nav__top > li {
        display: flex;
        justify-content: center;
        margin: 0px;
        color: white;
      }
      .nav__top > li {
        border-bottom: 1px solid #ffffff;
      }
    }
    .title-block {
      @include flex-preset();
      color: white;
      .centered {
        img {
          padding: 30px;
          animation-name: logo;
          animation-duration: 2s;
          animation-direction: alternate;
          animation-fill-mode: both;
          animation-iteration-count: infinite;
        }
        h1 {
          @include curvy-text();
          font-size: 60px;
        }
        h2 {
          @include straight-text();
          font-weight: 100;
          letter-spacing: 0.05em;
          padding: 15%;
        }
      }
    }
  }

  main {
    .text-section {
      background-color: $--Light-Pink;
      background-image: url('/src/assets/GrayFlowerLeft.png'), url('/src/assets/GrayFlowerRight.png');
      background-repeat: no-repeat;
      background-position:
        left 25%,
        right 115%;
      h1 {
        @include flex-preset();
        @include curvy-text();
        color: $--Gray;
        font-size: 40px;
        padding: 20%;
      }
      h2 {
        @include flex-preset();
        @include straight-text();
        color: $--Gray;
        padding: 5%;
        padding-top: 0%;
        letter-spacing: 0.05em;
        font-size: 20px;
      }
      .text-section__article {
        @include flex-preset();
        @include straight-text();
        text-align: start;
        p {
          padding: 5%;
        }
      }
      .text-section__button {
        @include flex-preset();
        @include straight-text();
        padding: 15%;
        button {
          align-content: center;
          flex-direction: column;
          appearance: none;
          border: none;
          outline: none;
          cursor: pointer;
          background: linear-gradient(to right, $--Orange 50%, $--Brownish 50%);
          background-size: 210%;
          transition: 1s ease-out;
          color: white;
          font-family: 'Oswald', sans-serif;
          padding: 3%;
          border-radius: 2rem;
          letter-spacing: 0.1em;
          font-size: 14px;
          font-weight: 600;
        }
        button:hover {
          background-position: right;
          transform: rotate(360deg);
          transform-origin: center;
        }
      }
    }

    .video-section {
      background-image: url('/src/assets/Background2nd.png');
      background-repeat: no-repeat;
      background-size: cover;

      h1 {
        @include flex-preset();
        @include curvy-text();
        color: white;
        padding: 5%;
        padding-top: 10%;
        font-size: 50px;
      }

      .big-button-outer {
        @include flex-preset();
        align-items: center;
        padding: 20%;
        .big-button {
          background: white;
          align-self: center;
          width: 10em;
          height: 10em;
          border-radius: 50%;
          transition: 0.4s ease-out;
          cursor: pointer;

          .triangle {
            padding: 35%;
            padding-top: 33%;
          }
        }
        .big-button:hover {
          transform: scale(1.1);
          background: $--Pink;
        }
      }

      h2 {
        @include flex-preset();
        @include straight-text();
        color: white;
        letter-spacing: 0.1em;
        padding: 10%;
        padding-top: 8%;
        padding-bottom: 20%;
        font-weight: 100;
        font-size: 20px;
      }
    }
  }

  footer {
    @include straight-text();
    color: white;
    background-color: $--Orange;
    .footer-top {
      @include flex-preset();
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        order: -1;
        padding: 5%;
        padding-bottom: 0%;
      }
      h1 {
        font-size: 24px;
        letter-spacing: 0.1em;
        padding: 5%;
        padding-top: 3%;
      }
    }

    .footer-bottom {
      @include flex-preset();
      justify-content: center;
      flex-direction: column;
      p {
        padding: 3%;
        padding-bottom: 5%;
      }
      a {
        padding: 3%;
        padding-bottom: 0%;
      }
    }
  }
}
