@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');
@import url('https://fonts.cdnfonts.com/css/signpainter');
@import 'kit/variables';
@import 'kit/mixins';

@media screen {
  .print-only {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .mobile__element {
      display: none;
    }
    #menu-button {
      display: none;
    }
  }

  @keyframes logo {
    from {
      transform: rotateY(0) scale(0.85);
    }
    to {
      transform: rotateY(180deg) scale(1);
    }
  }

  li,
  a {
    @include straight-text();
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(255, 255, 255, 1) 100%),
      url('/src/assets/Background1st.png');
    background-repeat: no-repeat;
    background-size: cover;

    .nav {
      background-color: $--Orange;
      align-items: center;
      padding: 1.5% 10%;
      padding-top: 20px;

      nav {
        flex-shrink: 0;
        @include flex-preset();
        justify-content: space-between;
      }

      .nav__top {
        list-style: none;
        letter-spacing: 0.2em;
        align-self: end;
        width: 516px;
        flex-shrink: 0;
        li {
          display: inline-block;
          padding: 0px 10px;
          a {
            transition: all 0.3s ease 0s;
            position: relative;
          }
          a:hover {
            font-weight: 900;
            border-bottom: 3px solid currentColor;
          }
        }
      }

      .text-logo {
        @include straight-text();
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 0.1em;
        color: white;
        cursor: pointer;
      }

      .text-logo,
      #padder {
        width: 120px;
      }

      #menu-toggle {
        display: none;
      }
    }

    .title-block {
      @include flex-preset();

      .centered {
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 45%,
            rgba(0, 0, 0, 0) 45.01%,
            rgba(0, 0, 0, 0) 100%
          ),
          radial-gradient(
            circle,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.3) 45%,
            rgba(0, 0, 0, 0) 55%,
            rgba(0, 0, 0, 0) 100%
          );

        img {
          padding-top: 25%;
          animation-name: logo;
          animation-duration: 2s;
          animation-direction: alternate;
          animation-fill-mode: both;
          animation-iteration-count: infinite;
        }

        h1 {
          @include curvy-text();
          color: $--Pink;
          font-size: 70px;
          padding-bottom: 20%;
        }

        h2 {
          @include straight-text();
          color: $--Muddish;
          padding: 20%;
          padding-top: 0%;
          padding-bottom: 5%;
          word-wrap: break-word;
          letter-spacing: 0.05em;
          font-weight: 400;
        }
      }
    }
  }

  main {
    .text-section {
      background-image: url('/src/assets/LeftFlowerPetals.png'), url('/src/assets/RightFlowerBuds.png');
      background-repeat: no-repeat;
      background-position: left, right;

      background-color: $--Light-Pink;
      padding-bottom: 6%;

      h1 {
        @include curvy-text();
        @include flex-preset();
        font-size: 60px;
        padding: 25%;
        padding-top: 3%;
        padding-bottom: 3%;
        color: $--Brownish;
      }

      h2 {
        @include straight-text();
        @include flex-preset();
        font-weight: 100;
        font-size: 30px;
        padding: 30%;
        padding-top: 0%;
        padding-bottom: 5%;
        color: $--Gray;
      }

      .text-section__article {
        @include straight-text();
        padding: 10%;
        padding-top: 0%;
        padding-bottom: 5%;
        .container {
          @include flex-preset();
          flex-direction: row;
          flex-wrap: nowrap;
          flex-flow: row;
          p {
            text-align: start;
            width: 100%;
            justify-content: space-between;
            color: $--Black;
            padding: 5%;
            padding-top: 0%;
            padding-bottom: 0%;
          }
        }
      }

      .text-section__button {
        @include flex-preset();
        button {
          align-content: center;
          flex-direction: column;
          appearance: none;
          border: none;
          outline: none;
          cursor: pointer;
          background: linear-gradient(to right, $--Orange 50%, $--Brownish 50%);
          background-size: 210%;
          transition: 1s ease-out;
          color: white;
          font-family: 'Oswald', sans-serif;
          padding: 1%;
          border-radius: 2rem;
          letter-spacing: 0.1em;
          font-size: 14px;
          font-weight: 600;
        }
        button:hover {
          background-position: right;
          transform: rotate(360deg);
          transform-origin: center;
        }
      }
    }

    .video-section {
      background-image: url('/src/assets/Background2nd.png');
      background-repeat: no-repeat;
      background-size: cover;

      h1 {
        @include flex-preset();
        @include curvy-text();
        color: white;
        padding: 5%;
        font-size: 80px;
      }

      .big-button-outer {
        @include flex-preset();
        align-items: center;
        .big-button {
          background: white;
          align-self: center;
          width: 10em;
          height: 10em;
          border-radius: 50%;
          transition: 0.4s ease-out;
          cursor: pointer;

          .triangle {
            padding: 35%;
            padding-top: 33%;
          }
        }
        .big-button:hover {
          transform: scale(1.1);
          background: $--Pink;
        }
      }

      h2 {
        @include flex-preset();
        @include straight-text();
        color: white;
        letter-spacing: 0.1em;
        padding: 25%;
        padding-top: 8%;
        padding-bottom: 8%;
        font-weight: 100;
      }
    }
  }

  footer {
    @include straight-text();
    color: white;
    background-color: $--Orange;
    padding-top: 3%;
    padding-bottom: 3%;
    .footer-top {
      //
      @include flex-preset();
      justify-content: space-between;
      p {
        text-align: start;
        align-self: flex-end;
        width: 50%;
        padding-left: 15%;
        padding-right: 15%;
      }
    }

    .footer-bottom {
      @include flex-preset();
      a {
        text-align: left;
        align-self: flex-end;
        width: 60%;
        padding-left: 15%;
      }
      p {
        text-align: right;
        align-self: flex-end;
        width: 60%;
        padding-right: 15%;
      }
    }
  }
}
